<b>{{ name }}</b>

{% if description %}
{{ description }}

{% endif %}
🏅 Стоимость: <code>{{ score }}</code>
{% if hidden %}

🔒 Скрытая задача
{% endif %}
{% if review %}

🥋 Задача сдается технической группе
{% endif %}
{% if team %}

🍻 Командная задача
{% else %}

🎯 Персональная задача
{% endif %}
{% if end %}

⏳ Доступно до: {{ end.strftime('%a %d %H:%M') }}
{% endif %}
{% if solved %}

✅ Задача уже решена
{% endif %}