🏷️ Привет, {{ username }}

<b>Личная статистика</b>

😎 Личные баллы: <code>{{ personal_score }}</code>
🔥 Личный рейтинг: <code>{{ place }}</code> место, <code>{{ score }}</code> баллов
{% if team %}

<b>Статистика команды</b>

🍻 Команда: <code>{{ team.name }}</code>
⚡️ Командный рейтинг: <code>{{ team_place }}</code> место, <code>{{ team_score }}</code> баллов
{% endif %}
